.form-section {
  width: 85%;
  color: var(--primary-font-color);
  margin: 40px;
  padding: 30px;
  border: solid 1px var(--primary-light-color);
  border-radius: 10px;
}

.site-form {
  margin: 20px;
  input, textarea, select {
    display: block;
    margin: 20px 10px;
    width: 95%;
    line-height: 1.5;
    padding: 3px 5px;
  }
  legend, label {
    margin-bottom: 30px;
  }
  button {
    margin: 10px;
    width: 20%;
    margin-top: 30px;
    margin-left: 75%;
  }
}

.form-actions {
  width: 100%;
  a {
    color: white;
  }
  p {
    font-size: 0.8rem;
    font-style: italic;
  }
}