<footer>
  <!--section class="footer-icons-section">
    <a href="mailto:skanderturki@gmail.com?subject=Contact about Curriculum Designer"><img class="footer-icons" src="assets/img/facebook_dark.svg" alt="fb" /></a>
    <a href="mailto:skanderturki@gmail.com?subject=Contact about Curriculum Designer"><img class="footer-icons" src="assets/img/linkedin_dark.svg" alt="in" /></a>
    <a href="mailto:skanderturki@gmail.com?subject=Contact about Curriculum Designer"><img class="footer-icons" src="assets/img/twitter_dark.svg" alt="twitter" /></a>
  </section -->
  <section class="footer-links">
    <p>Contact us at <a href="mailto:skanderturki@gmail.com?subject=Contact about Curriculum Designer">skanderturki@gmail.com</a></p>
    <p>&copy; Made by <a href="https://modelingera.com/" target="_blank"> Modeling Era</a></p>
  </section>
</footer>